<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ET-Learn</title>
</head>

<body>
    <div class="container-fluid main-layout" style="height: 100%;">
        <div class="image-section">
            <div class="image-wrapper" style="background-color:#f9fbff ;">
                <!-- <img src="https://i.imgur.com/FKyoBdM.jpg" alt=""> -->
            </div>

            <div class="content-container">
                <div class="header-container">
                    <!-- <embed src="assets/images/TestingAlpha.mov" width=600 height=416 controller=true autoplay=false
                        PLUGINSPAGE="http://www.apple.com/quicktime/"> -->
                    <!-- <video  width="800" height="600" name="Video Name" loop="true" autoplay alt="hello">
                        <source src="assets/images/test.mov" type="video/quicktime">
                    </video> -->
                    <!-- <video height="600" style="margin-right: 30px;" width="600">
                        <source src="assets/images/TestingAlpha.mov" type="video/quicktime">
                        Your browser does not support
                        the video tag.
                    </video> -->

                    <img src="assets/images/LogoWithTransparency.gif" alt="ET LOGO GIF" class="logo">

                </div>
            </div>
        </div>

        <div class="form-section" style="background-color:#f9fbff ;">
            <div class="form-wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>

</html>