<div class="main-body">
  <div class="Assesment-container" *ngIf="isAssesmentCompleted === false && isAssesmentStarted === true">

    <div class="informative-container">

      <div style="display: flex;justify-content: space-between;">
        <div
          style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
          <div
            style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 43px; display: inline-flex">
            <div
              style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 28px; display: inline-flex">
              <div
                style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                <div
                  style="color: #333333; font-size: 18px; font-family: Calibri; font-weight: 700; line-height: 25.20px; word-wrap: break-word">
                  Total {{totalQuestions}} Questions</div>
              </div>
            </div>
          </div>
          <div><span
              style="color: #333333; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">All
              questions are mandatory to answer </span><span
              style="color: #EB5757; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">*</span>
          </div>
        </div>

        <span [ngClass]="{'circle pulse': isPulsating}">
          <nz-progress [nzStrokeWidth]="15" [nzPercent]="(((TimeCounter * 1.65)) / 100) * 100" nzType="circle"
            nzTitle="3 done" [nzFormat]="formatOne" [nzStatus]="timerStatus" [nzWidth]="70"></nz-progress>
        </span>

      </div>

      <div style="display: flex; justify-content: space-between;margin: 15px 0px;">
        <div>
          <div><span
              style="color: #333333; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Question</span><span
              style="color: #333333; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">
            </span><span
              style="color: #3194A0; font-size: 20px; font-family: Calibri; font-weight: 700; line-height: 28px; word-wrap: break-word;margin-left: 5px;">{{currentQuestionIndex
              + 1}}</span><span
              style="color: #828282; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">/{{totalQuestions}}</span>
          </div>
        </div>


      </div>

    </div>
    <div class="question-container" *ngFor="let questions of currentQuestion">
      <div class="question-heading">
        <h2>{{questions.question}}</h2>
      </div>
      <div class="answer-container">
        <form [formGroup]="buttonSizeForm">



          <div *ngIf="questions.questionType === 'MCQ'">

            <div style="display: flex; flex-direction: column; gap: 32px;width: 100%;">
              <div style="display: flex;width: 100%;">

                <div style="width: 50%;">
                  <div class="questionoptbtn" (click)="selectOptionmcq(questions.optionA)"
                    [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionA">
                    <div [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionA}"
                      class="questionoptbtn1">A
                    </div>
                    <!-- <input type="radio" id="optionA" formControlName="radioValue" [value]="'A'" style="display: none" /> -->
                    <span style="font-size: 16px; 
                  font-family: Calibri;
                  font-weight: 400;margin-right: 15px;" for="optionA">{{questions.optionA}}</span>
                  </div>
                </div>

                <div style="width: 50%;">

                  <div class="questionoptbtn" (click)="selectOptionmcq(questions.optionB)"
                    [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionB">
                    <div class="questionoptbtn1"
                      [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionB}">B
                    </div>

                    <!-- <input type="radio" id="optionB" formControlName="radioValue" [value]="'B'" style="display: none" /> -->
                    <span style=" font-size: 16px;margin-right: 15px; font-family: Calibri;
                    font-weight: 400;" for="optionB">{{questions.optionB}}</span>
                  </div>
                </div>
              </div>

              <div style="display: flex;width: 100%;">
                <div style="width: 50%;">

                  <div class="questionoptbtn" (click)="selectOptionmcq(questions.optionC)"
                    [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionC">
                    <div class="questionoptbtn1"
                      [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionC}">C
                    </div>

                    <!-- <input type="radio" id="optionC" formControlName="radioValue" [value]="'C'" style="display: none" /> -->
                    <span style="font-size: 16px;
                  font-family: Calibri;margin-right: 15px;
                  font-weight: 400;" for="optionC">{{questions.optionC}}</span>
                  </div>
                </div>

                <div style="width: 50%;">

                  <div class="questionoptbtn" (click)="selectOptionmcq(questions.optionD)"
                    [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionD">
                    <div class="questionoptbtn1"
                      [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionD}">D
                    </div>


                    <!-- <input type="radio" id="optionD" formControlName="radioValue" [value]="'D'" style="display: none" /> -->
                    <span style="font-size: 16px;
                  font-family: Calibri;margin-right: 15px;
                  font-weight: 400;" for="optionD">{{questions.optionD}}</span>

                  </div>
                </div>
              </div>
            </div>






          </div>


          <div *ngIf="questions.questionType === 'MCA'">


            <div style="display: flex; flex-direction: column; gap: 32px;width: 100%;">


              <div style="display: flex;width: 100%;">
                <div style="width: 50%;">
                  <div class="questionoptbtn" [class.selected]="isSelected(questions.optionA)"
                    (click)="selectOption(questions.optionA)">
                    <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionA)"
                      (click)="selectOption(questions.optionA)">A</div>
                    <input type="radio" id="optionA" formControlName="radioValue" [value]="'A'" style="display: none" />
                    <label style="font-size: 16px;
                  font-family: Calibri;
                  font-weight: 400;" for="optionA">{{questions.optionA}}</label>
                  </div>
                </div>

                <div style="width: 50%;">
                  <div class="questionoptbtn" [class.selected]="isSelected(questions.optionB)"
                    (click)="selectOption(questions.optionB)">
                    <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionB)"
                      (click)="selectOption(questions.optionB)">B</div>

                    <input type="radio" id="optionB" formControlName="radioValue" [value]="'B'" style="display: none" />
                    <label style="font-size: 16px;
                  font-family: Calibri;
                  font-weight: 400;" for="optionB">{{questions.optionB}}</label>
                  </div>
                </div>
              </div>

              <div style="display: flex;width: 100%;">

                <div style="width: 50%;">

                  <div class="questionoptbtn" [class.selected]="isSelected(questions.optionC)"
                    (click)="selectOption(questions.optionC)">
                    <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionC)"
                      (click)="selectOption(questions.optionC)">C</div>

                    <input type="radio" id="optionC" formControlName="radioValue" [value]="'C'" style="display: none" />
                    <label style="font-size: 16px;
                  font-family: Calibri;
                  font-weight: 400;" for="optionC">{{questions.optionC}}</label>
                  </div>
                </div>

                <div style="width: 50%;">

                  <div class="questionoptbtn" [class.selected]="isSelected(questions.optionD)"
                    (click)="selectOption(questions.optionD)">
                    <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionD)"
                      (click)="selectOption(questions.optionD)">D</div>

                    <input type="radio" id="optionD" formControlName="radioValue" [value]="'D'" style="display: none" />
                    <label style="font-size: 16px;
                  font-family: Calibri;
                  font-weight: 400;" for="optionD">{{questions.optionD}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-top: 20px;"> <span
                style="color: #333333; font-size: 16px; font-family: Calibri; font-weight: 700; line-height: 22.40px; word-wrap: break-word"><i>Select
                  all the correct options</i></span></div>

          </div>



          <div *ngIf="questions.questionType === 'TF'">


            <div style="display: flex; gap: 32px;">
              <div class="questionoptbtn" (click)="selectOptiontf(questions.optionA)"
                [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionA">
                <div class="questionoptbtn1"
                  [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionA">A</div>
                <input type="radio" id="optionA" formControlName="booleanValue" [value]="'A'" style="display: none" />
                <label style="font-size: 16px;
                font-family: Calibri;
                font-weight: 400;" for="optionA">{{questions.optionA}}</label>
              </div>

              <div class="questionoptbtn" (click)="selectOptiontf(questions.optionB)"
                [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionB">
                <div class="questionoptbtn1"
                  [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionB">B</div>

                <input type="radio" id="optionB" formControlName="booleanValue" [value]="'B'" style="display: none" />
                <label style="font-size: 16px;
                font-family: Calibri;
                font-weight: 400;" for="optionB">{{questions.optionB}}</label>
              </div>
            </div>

            <!-- <label>
              <input type="radio" formControlName="booleanValue" [value]="'A'" />
              {{questions.optionA}}
            </label>
            <label>
              <input type="radio" formControlName="booleanValue" [value]="'B'" />
              {{questions.optionB}}
            </label> -->
          </div>



          <div *ngIf="questions.questionType === 'Blanks'">
            <input nz-input formControlName="inputValue" placeholder="Enter A value" nzSize="large" />
          </div>


        </form>
      </div>

      <div class="assesmentbtns" style="display: flex;justify-content: center;gap:15px ;">
        <button style="border: none;" nz-button (click)="goBackToCourse()">Cancel</button>
        <button style="display: flex;justify-content: center;background-color: #3194A0;color: white;border: none;"
          nz-button nzType="primary" (click)="nextQuestion(questions)"
          *ngIf="currentQuestionIndex < totalQuestions -1">Next</button>
        <button style="display: flex;justify-content: center;background-color: #3194A0;color: white;border: none;"
          nz-button nzType="primary" (click)="onSubmit(questions)"
          *ngIf="currentQuestionIndex === totalQuestions -1">Submit</button>
      </div>
    </div>
  </div>







  <div class="result" *ngIf="isAssesmentCompleted === true">
    <!-- *-->


    <div class="test-body">
      <form [formGroup]="resultForm" *ngFor="let index of groupedQuestions.keys()" class="result-form">
        <div *ngFor="let questions of groupedQuestions.get(index);let i = index;" class="result-array ">
          <h2 class="assesmentcmpltque">Q.{{questions.question}}</h2>
          <div *ngIf="questions.questionType == 'MCQ'">
            <label style="font-size: 18px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="radio" [value]="'A'"
                [checked]="questions.selectedAnswer == questions.optionA" />
              {{ questions.optionA }}
            </label>
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="radio" [value]="'B'"
                [checked]="questions.selectedAnswer === questions.optionB" />
              {{ questions.optionB }}
            </label>
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="radio" [value]="'C'"
                [checked]="questions.selectedAnswer ===  questions.optionC" />
              {{ questions.optionC }}
            </label>
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="radio" [value]="'D'"
                [checked]="questions.selectedAnswer === questions.optionD" />
              {{ questions.optionD }}
            </label>

            <div style="margin-top: 20px;display: flex;justify-content: space-between;">

              <label style="font-size: 16px;"><span style="font-weight: 700;color: #3194A0;">Correct Answer: </span>{{
                questions.correctAnswer }}</label>

              <label style="font-size: 16px;"><span style="font-weight: 700;margin-left: 10px;color: #3194A0;">Attempt
                  No: </span>{{ (4 - questions.attempts )
                }}</label>

            </div>
          </div>


          <div *ngIf="questions.questionType === 'MCA'">

            <label style="font-size: 18px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="checkbox" [value]="'A'"
                [checked]="questions.selectedAnswer[0] == questions.optionA || questions.selectedAnswer[1] == questions.optionA || questions.selectedAnswer[2] == questions.optionA || questions.selectedAnswer[3] == questions.optionA" />
              {{ questions.optionA }}
            </label>
            <!-- Repeat this for other options (B, C, D) -->
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="checkbox" [value]="questions.optionB"
                [checked]="questions.selectedAnswer[0] == questions.optionB || questions.selectedAnswer[1] == questions.optionB ||questions.selectedAnswer[2] == questions.optionB ||questions.selectedAnswer[3] == questions.optionB" />
              {{ questions.optionB }}
            </label>
            <!-- Repeat this for other options (B, C, D) -->
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="checkbox" [value]="'C'"
                [checked]="questions.selectedAnswer[0] == questions.optionC || questions.selectedAnswer[1] == questions.optionC || questions.selectedAnswer[2] == questions.optionC || questions.selectedAnswer[3] == questions.optionC" />
              {{ questions.optionC }}
            </label>
            <!-- Repeat this for other options (B, C, D) -->
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="checkbox" [value]="'D'"
                [checked]="questions.selectedAnswer[0] == questions.optionD || questions.selectedAnswer[1] == questions.optionD || questions.selectedAnswer[2] == questions.optionD || questions.selectedAnswer[3] == questions.optionD" />
              {{ questions.optionD }}
            </label>
            <div style="margin-top: 20px;display: flex;justify-content: space-between;">

              <label style="font-size: 16px;"><span style="font-weight: 700;color: #3194A0;">Correct Answer: </span>{{
                questions.correctAnswer }}</label>

              <label style="font-size: 16px;"><span style="font-weight: 700;margin-left: 10px;color: #3194A0;">Attempt
                  No: </span>{{ (4 - questions.attempts )
                }}</label>

            </div>
          </div>

          <div *ngIf="questions.questionType === 'TF'">
            <label style="font-size: 18px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="radio" [value]="'A'"
                [checked]="questions.selectedAnswer == questions.optionA" />
              {{ questions.optionA }}
            </label>
            <!-- Repeat this for other options (B) -->
            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
              <input style="font-size: 18px;" disabled="true" type="radio" [value]="'B'"
                [checked]="questions.selectedAnswer ==  questions.optionB " />
              {{ questions.optionB }}
            </label>
            <div style="margin-top: 20px;display: flex;justify-content: space-between;">

              <label style="font-size: 16px;"><span style="font-weight: 700;color: #3194A0;">Correct Answer: </span>{{
                questions.correctAnswer }}</label>

              <label style="font-size: 16px;"><span style="font-weight: 700;margin-left: 10px;color: #3194A0;">Attempt
                  No: </span>{{ (4 - questions.attempts )
                }}</label>

            </div>
          </div>
          <!-- <div *ngIf="questions.questionType === 'Blanks'">
            <input nz-input [value]="questions.selectedAnswer" placeholder="Enter A value" nzSize="large"  />
            <div>
              <label>Correct Answer : {{ questions.correctAnswer }}</label>
              <label>Attempts : {{ questions.attempts }}</label>
            </div>
          </div> -->
        </div>

      </form>
    </div>


    <div class="test-dashboard">

      <div style="display:flex; justify-content:center;">
        <button style="background-color: #3194A0;color: white;border: none;" nz-button nzType="primary"
          (click)="goBackToCourse()">Back To Course </button>
      </div>
    </div>

  </div>


  <nz-modal [nzWidth]="700" [(nzVisible)]="isResultVisible" nzCentered [nzFooter]="null">

    <div *nzModalContent style="padding: 0px;">
      <div style="background-color: white;height: 100%;width: 100%;border-radius: 10px;">

        <img src="assets/icons/assessmentcompleted.svg" alt="">

        <div style="margin: 20px 0px;">
          <div style="color: #3333
      33; font-size: 24px; font-family: Calibri; font-weight: 700; line-height: 33.60px; word-wrap: break-word">
            Assessment Submitted Successfully</div>
          <div
            style="width: 100%; text-align: center; color: #4F4F4F; font-size: 18px; font-family: Calibri; font-weight: 400; word-wrap: break-word">
            You have successfully submitted the assessment. Your result is ready.</div>
        </div>

        <div
          style="background-color: rgba(49, 148, 160, 0.10);display: flex;justify-content: space-evenly;padding: 12px;border-radius: 10px;">

          <div style="display: flex;flex-direction: column;">
            <div class="count"><span nz-icon style="color: #97a031;margin-right: 8px;
  " nzType="question-circle" nzTheme="fill"></span> {{totalQuestion}}</div>
            <div class="counttext">Total Questions</div>
          </div>

          <div style="display: flex;flex-direction: column;">
            <div class="count"><span nz-icon style="color: #3194A0;margin-right: 8px;
  " nzType="check-circle" nzTheme="fill"></span>{{totalAttempts}} </div>
            <div class="counttext">Total Attempts</div>
          </div>

          <!-- <div style="display: flex;flex-direction: column;">
          <div class="count"><span style="color: #FFC618;margin-right: 8px;
  " nz-icon nzType="star" nzTheme="fill"></span>{{this.points}}</div>
          <div class="counttext">Score Obtained</div>
        </div> -->


        </div>

        <div class="modalbuttons" style="margin-top: 25px;margin-bottom: 25px;">
          <button class="modalcancel" style="margin-top: 25px;margin-bottom: 25px;" (click)="reviewTest()">Review
            Test</button>
          <!-- <button style="background-color: #3194A0;color: white;" (click)="gotoRatings()">Continue</button> -->
        </div>
      </div>

    </div>



  </nz-modal>


  <nz-modal [(nzVisible)]="isRatingVisible" nzTitle="Add Rating & Review" nzCentered [nzFooter]="modalFooter2">
    <ng-container *nzModalContent>
      <nz-rate class="large" [(ngModel)]="ratingValue" [nzTooltips]="tooltips"></nz-rate>

      <div style="margin: 15px 0px;">
        <div style="margin-bottom: 10px;"><span
            style="color: #333333; font-size: 16px; font-family: Calibri; font-weight: 700; line-height: 22.40px; word-wrap: break-word">Write
            Feedback </span><span
            style="color: #BDBDBD; font-size: 16px; font-family: Calibri; font-style: italic; font-weight: 700; line-height: 22.40px; word-wrap: break-word">(Optional)</span>
        </div>
        <textarea nz-input
          placeholder="What's your personal experience while taking this course? What did you think of it?"
          [nzAutosize]="{ minRows: 5}" [(ngModel)]="feedValue">
      </textarea>

      </div>
      <!-- <button nz-button nzType="primary" (click)="submitFeedback()">Submit</button> -->
    </ng-container>
    <ng-template #modalFooter2>

      <div class="modalbuttons">
        <button class="modalcancel" (click)="handleCancel()">Cancel</button>
        <button style="background-color: #3194A0;color: white;" (click)="submitFeedback()">Submit</button>
      </div>
    </ng-template>


  </nz-modal>
</div>

<div class="result-container" *ngIf="isAssesmentCompleted === false && isAssesmentStarted === false">
  <div class="rule-container">
    <div class="rule-header">
      <h1>Assessment Guidelines</h1>
    </div>
    <div class="rule-content">
      <div style="gap: 10px;display: flex;flex-direction: column;">
        <div style=" display: flex; justify-content: flex-end;">

          <!-- <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
              style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
          </h2> -->

        </div>
        <div>
          <h2>Setup and Preparation:
          </h2>
          <ul class="list-bullets">
            <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser like Chrome or Firefox.
            </li>
            <li>Environment: Choose a quiet space free from interruptions.</li>
          </ul>
        </div>
        <div>
          <h2>During the Assessment:
          </h2>
          <ul class="list-bullets">
            <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.</li>
            <li>Instructions: Carefully follow all directions displayed on your screen.</li>

          </ul>
        </div>
        <div>
          <h2>Scoring and Question Format:
          </h2>
          <ul class="list-bullets">
            <li>Scoring Policy: Note that each attempt at answering may reduce your total score.</li>
            <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple Correct Answers (MCAs), and
              True/False questions.</li>
          </ul>
        </div>
        <div>
          <h2>Time Per Question:
          </h2>
          <ul class="list-bullets">
            <li>Allocation: Allocated 1 minute per question for answering.</li>
          </ul>
        </div>

        <div>
          <h2>Finalizing Your Assessment:
          </h2>
          <ul class="list-bullets">
            <li>Submission: Complete and submit all answers before time runs out.</li>
            <li>Confirmation: Ensure you receive a submission confirmation before exiting the assessment page.</li>
          </ul>
        </div>
        <div>
          <h2>Ethical Conduct:
          </h2>
          <ul class="list-bullets">
            <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or plagiarism will lead to
              disqualification.
            </li>
          </ul>
        </div>


      </div>

      <div class="rule-action">
        <button style="display: flex;justify-content: center;" nz-button (click)="goBackToCourse()">Cancel</button>
        <button style="display: flex;justify-content: center;background-color: #3194A0;color: white;border: none;"
          nz-button nzType="primary" (click)="startAssesments()">Start Assesment</button>
        <button style="display: flex;justify-content: center;" nz-button nzType="primary" (click)="resumeAssesments()"
          *ngIf="!isAssesmentExist && currentPendingAssessment?.length > 0">Resume Assesment</button>
        <button nz-button nzType="primary" (click)="retakeAssessment()" *ngIf="isAssesmentExist">Retake
          Assessment</button>
      </div>
    </div>
  </div>